@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.formContainer{
    width: 50%;
    margin: auto;
}

.formContainer form{
    margin-top:20px ;
}
#submitBtn{
    border: 1px solid rgba(130, 129, 129, 0.598);
    height: 5vh;
    width: 10vw;
    font-size: 17px;
    margin: 5px 10px;
    background-color: white;
    font-family: 'Inter', sans-serif;
    border-radius: 3px;
    padding: 3px 6px;
    cursor: pointer;

}